@import './variables.scss';

.btn{
	&.btn-lg{
		padding: 1rem 3rem;
	}
	&.btn-sm{
		padding: 11px 25px;
	}
	border-radius: 0px;
	border: none;
	text-transform: uppercase;
	font-size: .8rem;
}

.btn-warning{
	background-color: $warning;
	&:hover {
		background-color: $warningHover;
		color: $white;
	}
}
