@import './variables.scss';

.slick-dots{
	li{
		button {
			&::before {
				color: $gray;
			}
		}

		&.slick-active{
			button {
				&::before{
					color: $white;
				}
			}
		}
	}
}

.slick-slide{
	img{
		width: 100%;
	}
}

.slick-prev-btn,
.slick-next-btn{
	cursor: pointer;
	position: absolute;
	top:10%;
	background: none;
	border: none;
	color: $white;
	opacity: .4;
	transition: all .3s ease;
	&:hover{
		opacity: 1;
	}

	&:focus{
		outline: none;
		box-shadow: none;
	}
}

.slick-prev-btn{
	left: -25px;
}

.slick-next-btn{
	right: -25px;
}