//color
$white: 									#fff;
$black: 									#010101;
$dark-gray:									#111;

//font
$mainfont: 									'Roboto', sans-serif;

//bootstrap override
$warning:					#b49761;
$warningHover: 			#a49f95;

